<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>WhpuCoder</title>
  
  <link rel="stylesheet" href="src/css/reset.css">
  <link rel="stylesheet" href="src/css/style.css">
  <link rel="stylesheet" href="src/css/home.css">
  <script src="src/js/jquery-3.1.1.min.js"></script>
</head>
<body>
  <header class="header pta w100 fix">
    <nav class="container auto">
      <h2 class="l">Whpu<span class="blue">C</span>oder</h2>
      <a class="nav-item trans r b" id= "about" href="src/views/about.html">About</a>
      <a class="nav-item trans r b" href="src/views/work.html">Work</a>
      <a class="nav-item trans r b" id= "member" href="src/views/member.html">Member</a>
      <a class="nav-item trans r b" href="http://60.205.211.59">Home</a>
    </nav>
  </header>
  <div id="index" class="jumbotron w100">
    <div id= "div1" class="jumbotron-content tc w100">
      <h1 class="jumbotron-h1">WhpuCoder</h1>
      <h3>Learn Git and GitHub without any code</h3>
    </div>
  </div>
</body>

</html>