<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>WhpuCoder</title>
   <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/work.css">
  
  <script src="../js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="../js/work.js"></script>
</head>

<body>
  <header class="header fix">
    <nav class="container auto">
      <h2 class="l">Whpu<span class="blue">C</span>oder</h2>
      <a class="nav-item trans r b" href="../views/about.html">About</a>
      <a class="nav-item trans r b" href="../views/work.html">Work</a>
      <a class="nav-item trans r b" href="../views/member.html">Member</a>
      <a class="nav-item trans r b" href="http://60.205.211.59">Home</a>
      <input type="text" id="search-box" class="search-box r trans" placeholder="Search...">
    </nav>
  </header>
  <div class="board board-work mb20 w100">
  </div>
  <div class="container auto" id="work">
    
  </div>
  <div class="container auto" id="work1">
  </div>
</body>
</html>